blank {
  .main-flex {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    .slide-down-to-up, .slide-up-to-down {
      overflow: hidden;
    }
    .slide-down-to-up {
      .slide-move {
        animation: entry-down-to-up 1s cubic-bezier(.42, 0, .58, 1);
        -webkit-animation: entry-down-to-up 1s cubic-bezier(.42, 0, .58, 1);
      }
    }
    .line {
      overflow: hidden;
      height: 20px;
      width: 100%;
      background-color: transparent;
      animation: entry-opacity 1s cubic-bezier(.42, 0, .58, 1);
      -webkit-animation: entry-opacity 1s cubic-bezier(.42, 0, .58, 1);
      &::after {
        content: '';
        display: block;
        margin: -25px auto 0;
        width: 100%;
        height: 25px;
        border-radius: 125px/12px;
        box-shadow: 0 0 8px color($colors, darkgray);
      }
    }
    .slide-up-to-down {
      margin-top: -15px;
      .slide-move {
        animation: entry-up-to-down 1s cubic-bezier(.42, 0, .58, 1);
        -webkit-animation: entry-up-to-down 1s cubic-bezier(.42, 0, .58, 1);
        .logo-txt {
          font-size: 1.3em;
          color: color($colors, primary);
        }
      }
    }
    .font-small {
      font-size: .5em;
      line-height: .5em;
      &.gray {
        color: color($colors, darkgray);
      }
    }
  }
  .size-dif {
    .avatar {
      text-align: center;
      margin: 0 auto;
      font-size: 3rem;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      background: color($colors, light);
      border: 1px solid color($colors, primary);
      color: color($colors, primary);
      border-radius: 50%;
    }
  }
  @keyframes entry-down-to-up {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    60% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes entry-down-to-up {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    60% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes entry-up-to-down {
    0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    60% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes entry-up-to-down {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  @keyframes entry-opacity {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes entry-opacity {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
