<ion-header>
  <setting-navbar></setting-navbar>
  <ion-toolbar color="white">
    <ion-title>{{'setting.language' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let l of langList" (click)="langChange(l)" tappable>
      <ion-icon name="globe" item-left>
        <ion-icon name="checkmark-circle-filled" color="balanced" *ngIf="l.lang==language"></ion-icon>
      </ion-icon>
      <ion-label>{{'language.'+l.lang | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
