ion-app, 
ion-app.ios,
ion-app.cameraView, 
ion-app.cameraView ion-content, 
ion-app.cameraView .nav-decor {
  background: transparent none !important; 
}

scanner {
  .has-bg {
    background: color($colors, dark);
  }
  .no-bg {
    background: transparent none !important;
  }
  .scanner-wrapper {
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
    .scanner {
      left: 50%;
      top: 15%;
      margin-left: -150px;
      position: absolute;
      box-shadow: rgba(0, 0, 0, .7) 0 0 0 1366px;
      .scan-area {
        width: 300px;
        height: 300px;
        background-size: contain;
        background: url(../assets/scanner.svg) no-repeat center center;
      }
      .through-line {
        left: 5%;
        width: 90%;
        height: 5px;
        position: absolute;
        background: color($colors, darkblue);
        animation: scanline 2s linear infinite alternate;
        border-radius: 50%;
        box-shadow: 0 0 10px color($colors, darkblue);
      }
      .scan-name {
        position: absolute;
        width: 100%;
        bottom: -35px;
        text-align: center;
      }
    }
  }
  @keyframes scanline {
    0% {
      top: 10%;
    }
    25% {
      top: 30%;
    }
    50% {
      top: 50%;
    }
    75% {
      top: 70%;
    }
    100% {
      top: 90%;
    }
  }
  .button-bottom {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
  }
}

.scan-icon {
  font-size: 50px;
}
