<ion-header>
  <ion-toolbar color="white">
    <ion-title>{{'setting.profile' | translate}}</ion-title>
    <ion-buttons end *ngIf="store.enableProfile">
      <button ion-button clear color="primary" *ngIf="pfService?.profilegroup" (click)="del()" margin-right>
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button clear color="primary" class="popover-icon-only">
        <ion-icon name="plus"></ion-icon>
        <ion-select interface="popover" [(ngModel)]="addType" (ngModelChange)="addTypeChange($event)">
          <ion-option  value="1"> {{'profile.addfromlogin' | translate}}</ion-option>
          <ion-option  value="2"> {{'profile.addbymanual' | translate}}</ion-option>
        </ion-select>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list no-margin>
    <ion-item tappable>
      <ion-label>{{(!store.enableProfile ? 'profile.disabled' : 'profile.enabled') | translate}}</ion-label>
      <ion-toggle item-right [(ngModel)]="store.enableProfile" (ngModelChange)="enableProfile($event)"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!store.enableProfile" no-lines text-wrap>
      <ion-note>
        {{'profile.description' | translate}}
      </ion-note>
    </ion-item>
    <ng-template [ngIf]="store.enableProfile && pfService?.profilegroup">
      <ion-item-sliding *ngFor="let l of pfService?.profilegroup" #slidingItem>
        <ion-item tappable (click)="toggleProfile(l)">
          <ion-icon color="primary" item-left name="globe">
            <ion-icon name="checkmark-circle-filled" color="balanced" *ngIf="pfService.loginProfileName == l.name"></ion-icon>
          </ion-icon>
          <ion-label> {{l.name}} </ion-label>
          <ion-icon item-right name="arrow-forward-thin"></ion-icon>

        </ion-item>
        <ion-item-options side="right">
          <button ion-button [navPush]="profileEdit" [navParams]="{editStatus : 2 , profile : l}" (click)="slidingItem.close()">
            <ion-icon name="edit"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="del(l)" [disabled]="pfService.loginProfileName == l.name">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ng-template>

  </ion-list>
  <no-content *ngIf="store.enableProfile && !pfService?.profilegroup"></no-content>

</ion-content>
