@font-face {
  font-family: "mobility";
  src: url('../assets/fonts/mobility.eot');
  src: url('../assets/fonts/mobility.eot?#iefix') format('eot'),
  url('../assets/fonts/mobility.woff') format('woff'),
  url('../assets/fonts/mobility.ttf') format('truetype'),
  url('../assets/fonts/mobility.svg#mobility') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"],
[class*=" icon-"]{
  display: inline-block;
  font-family: "mobility";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.icon,
.item > .icon,
.item-inner > .icon,
[icon-only] .icon {
  font-size: 25px;
}
.icon-small {
  font-size: 15px!important;
}
.icon-big {
  font-size: 50px!important;
}

.ion-ios-123d:before,
.ion-md-123d:before {
  content: "\EA01"
}

.ion-ios-apps:before,
.ion-md-apps:before {
  content: "\EA02"
}

.ion-ios-arrow-back-thin:before,
.ion-md-arrow-back-thin:before {
  content: "\EA03"
}

.ion-ios-arrow-back:before,
.ion-md-arrow-back:before {
  content: "\EA04"
}

.ion-ios-arrow-down-thin:before,
.ion-md-arrow-down-thin:before {
  content: "\EA05"
}

.ion-ios-arrow-down:before,
.ion-md-arrow-down:before {
  content: "\EA06"
}

.ion-ios-arrow-forward-thin:before,
.ion-md-arrow-forward-thin:before {
  content: "\EA07"
}

.ion-ios-arrow-forward:before,
.ion-md-arrow-forward:before {
  content: "\EA08"
}

.ion-ios-arrow-straight-back:before,
.ion-md-arrow-straight-back:before {
  content: "\EA09"
}

.ion-ios-arrow-straight-down:before,
.ion-md-arrow-straight-down:before {
  content: "\EA0A"
}

.ion-ios-arrow-straight-forward:before,
.ion-md-arrow-straight-forward:before {
  content: "\EA0B"
}

.ion-ios-arrow-straight-up:before,
.ion-md-arrow-straight-up:before {
  content: "\EA0C"
}

.ion-ios-arrow-up-thin:before,
.ion-md-arrow-up-thin:before {
  content: "\EA0D"
}

.ion-ios-arrow-up:before,
.ion-md-arrow-up:before {
  content: "\EA0E"
}

.ion-ios-at:before,
.ion-md-at:before {
  content: "\EA0F"
}

.ion-ios-attach-small:before,
.ion-md-attach-small:before {
  content: "\EA10"
}

.ion-ios-attach:before,
.ion-md-attach:before {
  content: "\EA11"
}

.ion-ios-backspace:before,
.ion-md-backspace:before {
  content: "\EA12"
}

.ion-ios-basket:before,
.ion-md-basket:before {
  content: "\EA13"
}

.ion-ios-bell:before,
.ion-md-bell:before {
  content: "\EA14"
}

.ion-ios-book:before,
.ion-md-book:before {
  content: "\EA15"
}

.ion-ios-bookmark:before,
.ion-md-bookmark:before {
  content: "\EA16"
}

.ion-ios-calculator:before,
.ion-md-calculator:before {
  content: "\EA17"
}

.ion-ios-calendar:before,
.ion-md-calendar:before {
  content: "\EA18"
}

.ion-ios-camera:before,
.ion-md-camera:before {
  content: "\EA19"
}

.ion-ios-cart:before,
.ion-md-cart:before {
  content: "\EA1A"
}

.ion-ios-chatboxes:before,
.ion-md-chatboxes:before {
  content: "\EA1B"
}

.ion-ios-chatbubble:before,
.ion-md-chatbubble:before {
  content: "\EA1C"
}

.ion-ios-checkmark-circle-filled:before,
.ion-md-checkmark-circle-filled:before {
  content: "\EA1D"
}

.ion-ios-checkmark-circle:before,
.ion-md-checkmark-circle:before {
  content: "\EA1E"
}

.ion-ios-checkmark-small:before,
.ion-md-checkmark-small:before {
  content: "\EA1F"
}

.ion-ios-checkmark:before,
.ion-md-checkmark:before {
  content: "\EA20"
}

.ion-ios-clock-1:before,
.ion-md-clock-1:before {
  content: "\EA21"
}

.ion-ios-clock-2:before,
.ion-md-clock-2:before {
  content: "\EA22"
}

.ion-ios-clock-filled:before,
.ion-md-clock-filled:before {
  content: "\EA23"
}

.ion-ios-close-all:before,
.ion-md-close-all:before {
  content: "\EA24"
}

.ion-ios-close-circle-filled:before,
.ion-md-close-circle-filled:before {
  content: "\EA25"
}

.ion-ios-close-circle:before,
.ion-md-close-circle:before {
  content: "\EA26"
}

.ion-ios-close-small:before,
.ion-md-close-small:before {
  content: "\EA27"
}

.ion-ios-close:before,
.ion-md-close:before {
  content: "\EA28"
}

.ion-ios-cloud-done:before,
.ion-md-cloud-done:before {
  content: "\EA29"
}

.ion-ios-cloud-download:before,
.ion-md-cloud-download:before {
  content: "\EA2A"
}

.ion-ios-cloud-upload:before,
.ion-md-cloud-upload:before {
  content: "\EA2B"
}

.ion-ios-cloud:before,
.ion-md-cloud:before {
  content: "\EA2C"
}

.ion-ios-comp-profitcenter:before,
.ion-md-comp-profitcenter:before {
  content: "\EA2D"
}

.ion-ios-company:before,
.ion-md-company:before {
  content: "\EA2E"
}

.ion-ios-contact:before,
.ion-md-contact:before {
  content: "\EA2F"
}

.ion-ios-cube-properties:before,
.ion-md-cube-properties:before {
  content: "\EA30"
}

.ion-ios-cube:before,
.ion-md-cube:before {
  content: "\EA31"
}

.ion-ios-cubes:before,
.ion-md-cubes:before {
  content: "\EA32"
}

.ion-ios-cut-direction-1:before,
.ion-md-cut-direction-1:before {
  content: "\EA33"
}

.ion-ios-cut-direction-2:before,
.ion-md-cut-direction-2:before {
  content: "\EA34"
}

.ion-ios-cut:before,
.ion-md-cut:before {
  content: "\EA35"
}

.ion-ios-dashboard:before,
.ion-md-dashboard:before {
  content: "\EA36"
}

.ion-ios-date-picker:before,
.ion-md-date-picker:before {
  content: "\EA37"
}

.ion-ios-defect-list:before,
.ion-md-defect-list:before {
  content: "\EA38"
}

.ion-ios-defect:before,
.ion-md-defect:before {
  content: "\EA39"
}

.ion-ios-document-landscape:before,
.ion-md-document-landscape:before {
  content: "\EA3A"
}

.ion-ios-document-portrait:before,
.ion-md-document-portrait:before {
  content: "\EA3B"
}

.ion-ios-download:before,
.ion-md-download:before {
  content: "\EA3C"
}

.ion-ios-drag:before,
.ion-md-drag:before {
  content: "\EA3D"
}

.ion-ios-edit:before,
.ion-md-edit:before {
  content: "\EA3E"
}

.ion-ios-expression:before,
.ion-md-expression:before {
  content: "\EA3F"
}

.ion-ios-eye:before,
.ion-md-eye:before {
  content: "\EA40"
}

.ion-ios-filter:before,
.ion-md-filter:before {
  content: "\EA41"
}

.ion-ios-flashlight_off:before,
.ion-md-flashlight_off:before {
  content: "\EA42"
}

.ion-ios-flashlight_on:before,
.ion-md-flashlight_on:before {
  content: "\EA43"
}

.ion-ios-folder-download:before,
.ion-md-folder-download:before {
  content: "\EA44"
}

.ion-ios-folder-open:before,
.ion-md-folder-open:before {
  content: "\EA45"
}

.ion-ios-folder-upload:before,
.ion-md-folder-upload:before {
  content: "\EA46"
}

.ion-ios-folder:before,
.ion-md-folder:before {
  content: "\EA47"
}

.ion-ios-globe:before,
.ion-md-globe:before {
  content: "\EA48"
}

.ion-ios-hand:before,
.ion-md-hand:before {
  content: "\EA49"
}

.ion-ios-help-circle:before,
.ion-md-help-circle:before {
  content: "\EA4A"
}

.ion-ios-images:before,
.ion-md-images:before {
  content: "\EA4B"
}

.ion-ios-information-circle:before,
.ion-md-information-circle:before {
  content: "\EA4C"
}

.ion-ios-information:before,
.ion-md-information:before {
  content: "\EA4D"
}

.ion-ios-label:before,
.ion-md-label:before {
  content: "\EA4E"
}

.ion-ios-language-2:before,
.ion-md-language-2:before {
  content: "\EA4F"
}

.ion-ios-language:before,
.ion-md-language:before {
  content: "\EA50"
}

.ion-ios-link:before,
.ion-md-link:before {
  content: "\EA51"
}

.ion-ios-list-box:before,
.ion-md-list-box:before {
  content: "\EA52"
}

.ion-ios-list:before,
.ion-md-list:before {
  content: "\EA53"
}

.ion-ios-location:before,
.ion-md-location:before {
  content: "\EA54"
}

.ion-ios-lock:before,
.ion-md-lock:before {
  content: "\EA55"
}

.ion-ios-login:before,
.ion-md-login:before {
  content: "\EA56"
}

.ion-ios-logout:before,
.ion-md-logout:before {
  content: "\EA57"
}

.ion-ios-mail-open:before,
.ion-md-mail-open:before {
  content: "\EA58"
}

.ion-ios-mail:before,
.ion-md-mail:before {
  content: "\EA59"
}

.ion-ios-map:before,
.ion-md-map:before {
  content: "\EA5A"
}

.ion-ios-maximize:before,
.ion-md-maximize:before {
  content: "\EA5B"
}

.ion-ios-menu:before,
.ion-md-menu:before {
  content: "\EA5C"
}

.ion-ios-minimize:before,
.ion-md-minimize:before {
  content: "\EA5D"
}

.ion-ios-minus-circle-filled:before,
.ion-md-minus-circle-filled:before {
  content: "\EA5E"
}

.ion-ios-minus-circle:before,
.ion-md-minus-circle:before {
  content: "\EA5F"
}

.ion-ios-minus:before,
.ion-md-minus:before {
  content: "\EA60"
}

.ion-ios-modul-scheduling:before,
.ion-md-modul-scheduling:before {
  content: "\EA61"
}

.ion-ios-more-circle-filled:before,
.ion-md-more-circle-filled:before {
  content: "\EA62"
}

.ion-ios-more:before,
.ion-md-more:before {
  content: "\EA63"
}

.ion-ios-move:before,
.ion-md-move:before {
  content: "\EA64"
}

.ion-ios-notebook:before,
.ion-md-notebook:before {
  content: "\EA65"
}

.ion-ios-options:before,
.ion-md-options:before {
  content: "\EA66"
}

.ion-ios-paper:before,
.ion-md-paper:before {
  content: "\EA67"
}

.ion-ios-pdf:before,
.ion-md-pdf:before {
  content: "\EA68"
}

.ion-ios-pdf_on:before,
.ion-md-pdf_on:before {
  content: "\EA69"
}

.ion-ios-phone:before,
.ion-md-phone:before {
  content: "\EA6A"
}

.ion-ios-pin-1-filled:before,
.ion-md-pin-1-filled:before {
  content: "\EA6B"
}

.ion-ios-pin-1:before,
.ion-md-pin-1:before {
  content: "\EA6C"
}

.ion-ios-pin-2-filled:before,
.ion-md-pin-2-filled:before {
  content: "\EA6D"
}

.ion-ios-pin-2:before,
.ion-md-pin-2:before {
  content: "\EA6E"
}

.ion-ios-plus-circle-filled:before,
.ion-md-plus-circle-filled:before {
  content: "\EA6F"
}

.ion-ios-plus-circle:before,
.ion-md-plus-circle:before {
  content: "\EA70"
}

.ion-ios-plus:before,
.ion-md-plus:before {
  content: "\EA71"
}

.ion-ios-print:before,
.ion-md-print:before {
  content: "\EA72"
}

.ion-ios-project:before,
.ion-md-project:before {
  content: "\EA73"
}

.ion-ios-radio:before,
.ion-md-radio:before {
  content: "\EA74"
}

.ion-ios-redo:before,
.ion-md-redo:before {
  content: "\EA75"
}

.ion-ios-refresh:before,
.ion-md-refresh:before {
  content: "\EA76"
}

.ion-ios-scan:before,
.ion-md-scan:before {
  content: "\EA77"
}

.ion-ios-schedule:before,
.ion-md-schedule:before {
  content: "\EA78"
}

.ion-ios-search:before,
.ion-md-search:before {
  content: "\EA79"
}

.ion-ios-settings-2:before,
.ion-md-settings-2:before {
  content: "\EA7A"
}

.ion-ios-settings:before,
.ion-md-settings:before {
  content: "\EA7B"
}

.ion-ios-speedometer:before,
.ion-md-speedometer:before {
  content: "\EA7C"
}

.ion-ios-star:before,
.ion-md-star:before {
  content: "\EA7D"
}

.ion-ios-status01:before,
.ion-md-status01:before {
  content: "\EA7E"
}

.ion-ios-status02:before,
.ion-md-status02:before {
  content: "\EA7F"
}

.ion-ios-status03:before,
.ion-md-status03:before {
  content: "\EA80"
}

.ion-ios-status04:before,
.ion-md-status04:before {
  content: "\EA81"
}

.ion-ios-status05:before,
.ion-md-status05:before {
  content: "\EA82"
}

.ion-ios-status06:before,
.ion-md-status06:before {
  content: "\EA83"
}

.ion-ios-status07:before,
.ion-md-status07:before {
  content: "\EA84"
}

.ion-ios-status08:before,
.ion-md-status08:before {
  content: "\EA85"
}

.ion-ios-status09:before,
.ion-md-status09:before {
  content: "\EA86"
}

.ion-ios-status10:before,
.ion-md-status10:before {
  content: "\EA87"
}

.ion-ios-status100:before,
.ion-md-status100:before {
  content: "\EA88"
}

.ion-ios-status101:before,
.ion-md-status101:before {
  content: "\EA89"
}

.ion-ios-status102:before,
.ion-md-status102:before {
  content: "\EA8A"
}

.ion-ios-status103:before,
.ion-md-status103:before {
  content: "\EA8B"
}

.ion-ios-status104:before,
.ion-md-status104:before {
  content: "\EA8C"
}

.ion-ios-status105:before,
.ion-md-status105:before {
  content: "\EA8D"
}

.ion-ios-status106:before,
.ion-md-status106:before {
  content: "\EA8E"
}

.ion-ios-status107:before,
.ion-md-status107:before {
  content: "\EA8F"
}

.ion-ios-status108:before,
.ion-md-status108:before {
  content: "\EA90"
}

.ion-ios-status109:before,
.ion-md-status109:before {
  content: "\EA91"
}

.ion-ios-status11:before,
.ion-md-status11:before {
  content: "\EA92"
}

.ion-ios-status110:before,
.ion-md-status110:before {
  content: "\EA93"
}

.ion-ios-status111:before,
.ion-md-status111:before {
  content: "\EA94"
}

.ion-ios-status112:before,
.ion-md-status112:before {
  content: "\EA95"
}

.ion-ios-status113:before,
.ion-md-status113:before {
  content: "\EA96"
}

.ion-ios-status114:before,
.ion-md-status114:before {
  content: "\EA97"
}

.ion-ios-status115:before,
.ion-md-status115:before {
  content: "\EA98"
}

.ion-ios-status116:before,
.ion-md-status116:before {
  content: "\EA99"
}

.ion-ios-status117:before,
.ion-md-status117:before {
  content: "\EA9A"
}

.ion-ios-status118:before,
.ion-md-status118:before {
  content: "\EA9B"
}

.ion-ios-status119:before,
.ion-md-status119:before {
  content: "\EA9C"
}

.ion-ios-status12:before,
.ion-md-status12:before {
  content: "\EA9D"
}

.ion-ios-status120:before,
.ion-md-status120:before {
  content: "\EA9E"
}

.ion-ios-status121:before,
.ion-md-status121:before {
  content: "\EA9F"
}

.ion-ios-status122:before,
.ion-md-status122:before {
  content: "\EAA0"
}

.ion-ios-status123:before,
.ion-md-status123:before {
  content: "\EAA1"
}

.ion-ios-status124:before,
.ion-md-status124:before {
  content: "\EAA2"
}

.ion-ios-status125:before,
.ion-md-status125:before {
  content: "\EAA3"
}

.ion-ios-status126:before,
.ion-md-status126:before {
  content: "\EAA4"
}

.ion-ios-status127:before,
.ion-md-status127:before {
  content: "\EAA5"
}

.ion-ios-status128:before,
.ion-md-status128:before {
  content: "\EAA6"
}

.ion-ios-status129:before,
.ion-md-status129:before {
  content: "\EAA7"
}

.ion-ios-status13:before,
.ion-md-status13:before {
  content: "\EAA8"
}

.ion-ios-status130:before,
.ion-md-status130:before {
  content: "\EAA9"
}

.ion-ios-status131:before,
.ion-md-status131:before {
  content: "\EAAA"
}

.ion-ios-status132:before,
.ion-md-status132:before {
  content: "\EAAB"
}

.ion-ios-status133:before,
.ion-md-status133:before {
  content: "\EAAC"
}

.ion-ios-status134:before,
.ion-md-status134:before {
  content: "\EAAD"
}

.ion-ios-status135:before,
.ion-md-status135:before {
  content: "\EAAE"
}

.ion-ios-status136:before,
.ion-md-status136:before {
  content: "\EAAF"
}

.ion-ios-status137:before,
.ion-md-status137:before {
  content: "\EAB0"
}

.ion-ios-status138:before,
.ion-md-status138:before {
  content: "\EAB1"
}

.ion-ios-status139:before,
.ion-md-status139:before {
  content: "\EAB2"
}

.ion-ios-status14:before,
.ion-md-status14:before {
  content: "\EAB3"
}

.ion-ios-status140:before,
.ion-md-status140:before {
  content: "\EAB4"
}

.ion-ios-status141:before,
.ion-md-status141:before {
  content: "\EAB5"
}

.ion-ios-status142:before,
.ion-md-status142:before {
  content: "\EAB6"
}

.ion-ios-status143:before,
.ion-md-status143:before {
  content: "\EAB7"
}

.ion-ios-status144:before,
.ion-md-status144:before {
  content: "\EAB8"
}

.ion-ios-status145:before,
.ion-md-status145:before {
  content: "\EAB9"
}

.ion-ios-status146:before,
.ion-md-status146:before {
  content: "\EABA"
}

.ion-ios-status147:before,
.ion-md-status147:before {
  content: "\EABB"
}

.ion-ios-status148:before,
.ion-md-status148:before {
  content: "\EABC"
}

.ion-ios-status149:before,
.ion-md-status149:before {
  content: "\EABD"
}

.ion-ios-status15:before,
.ion-md-status15:before {
  content: "\EABE"
}

.ion-ios-status150:before,
.ion-md-status150:before {
  content: "\EABF"
}

.ion-ios-status151:before,
.ion-md-status151:before {
  content: "\EAC0"
}

.ion-ios-status152:before,
.ion-md-status152:before {
  content: "\EAC1"
}

.ion-ios-status153:before,
.ion-md-status153:before {
  content: "\EAC2"
}

.ion-ios-status154:before,
.ion-md-status154:before {
  content: "\EAC3"
}

.ion-ios-status155:before,
.ion-md-status155:before {
  content: "\EAC4"
}

.ion-ios-status156:before,
.ion-md-status156:before {
  content: "\EAC5"
}

.ion-ios-status157:before,
.ion-md-status157:before {
  content: "\EAC6"
}

.ion-ios-status158:before,
.ion-md-status158:before {
  content: "\EAC7"
}

.ion-ios-status159:before,
.ion-md-status159:before {
  content: "\EAC8"
}

.ion-ios-status16:before,
.ion-md-status16:before {
  content: "\EAC9"
}

.ion-ios-status160:before,
.ion-md-status160:before {
  content: "\EACA"
}

.ion-ios-status161:before,
.ion-md-status161:before {
  content: "\EACB"
}

.ion-ios-status162:before,
.ion-md-status162:before {
  content: "\EACC"
}

.ion-ios-status163:before,
.ion-md-status163:before {
  content: "\EACD"
}

.ion-ios-status164:before,
.ion-md-status164:before {
  content: "\EACE"
}

.ion-ios-status165:before,
.ion-md-status165:before {
  content: "\EACF"
}

.ion-ios-status166:before,
.ion-md-status166:before {
  content: "\EAD0"
}

.ion-ios-status167:before,
.ion-md-status167:before {
  content: "\EAD1"
}

.ion-ios-status168:before,
.ion-md-status168:before {
  content: "\EAD2"
}

.ion-ios-status169:before,
.ion-md-status169:before {
  content: "\EAD3"
}

.ion-ios-status17:before,
.ion-md-status17:before {
  content: "\EAD4"
}

.ion-ios-status170:before,
.ion-md-status170:before {
  content: "\EAD5"
}

.ion-ios-status171:before,
.ion-md-status171:before {
  content: "\EAD6"
}

.ion-ios-status172:before,
.ion-md-status172:before {
  content: "\EAD7"
}

.ion-ios-status173:before,
.ion-md-status173:before {
  content: "\EAD8"
}

.ion-ios-status174:before,
.ion-md-status174:before {
  content: "\EAD9"
}

.ion-ios-status175:before,
.ion-md-status175:before {
  content: "\EADA"
}

.ion-ios-status176:before,
.ion-md-status176:before {
  content: "\EADB"
}

.ion-ios-status177:before,
.ion-md-status177:before {
  content: "\EADC"
}

.ion-ios-status178:before,
.ion-md-status178:before {
  content: "\EADD"
}

.ion-ios-status179:before,
.ion-md-status179:before {
  content: "\EADE"
}

.ion-ios-status18:before,
.ion-md-status18:before {
  content: "\EADF"
}

.ion-ios-status180:before,
.ion-md-status180:before {
  content: "\EAE0"
}

.ion-ios-status181:before,
.ion-md-status181:before {
  content: "\EAE1"
}

.ion-ios-status182:before,
.ion-md-status182:before {
  content: "\EAE2"
}

.ion-ios-status183:before,
.ion-md-status183:before {
  content: "\EAE3"
}

.ion-ios-status184:before,
.ion-md-status184:before {
  content: "\EAE4"
}

.ion-ios-status185:before,
.ion-md-status185:before {
  content: "\EAE5"
}

.ion-ios-status186:before,
.ion-md-status186:before {
  content: "\EAE6"
}

.ion-ios-status187:before,
.ion-md-status187:before {
  content: "\EAE7"
}

.ion-ios-status188:before,
.ion-md-status188:before {
  content: "\EAE8"
}

.ion-ios-status189:before,
.ion-md-status189:before {
  content: "\EAE9"
}

.ion-ios-status19:before,
.ion-md-status19:before {
  content: "\EAEA"
}

.ion-ios-status190:before,
.ion-md-status190:before {
  content: "\EAEB"
}

.ion-ios-status191:before,
.ion-md-status191:before {
  content: "\EAEC"
}

.ion-ios-status192:before,
.ion-md-status192:before {
  content: "\EAED"
}

.ion-ios-status193:before,
.ion-md-status193:before {
  content: "\EAEE"
}

.ion-ios-status194:before,
.ion-md-status194:before {
  content: "\EAEF"
}

.ion-ios-status195:before,
.ion-md-status195:before {
  content: "\EAF0"
}

.ion-ios-status196:before,
.ion-md-status196:before {
  content: "\EAF1"
}

.ion-ios-status20:before,
.ion-md-status20:before {
  content: "\EAF2"
}

.ion-ios-status21:before,
.ion-md-status21:before {
  content: "\EAF3"
}

.ion-ios-status22:before,
.ion-md-status22:before {
  content: "\EAF4"
}

.ion-ios-status23:before,
.ion-md-status23:before {
  content: "\EAF5"
}

.ion-ios-status24:before,
.ion-md-status24:before {
  content: "\EAF6"
}

.ion-ios-status25:before,
.ion-md-status25:before {
  content: "\EAF7"
}

.ion-ios-status26:before,
.ion-md-status26:before {
  content: "\EAF8"
}

.ion-ios-status27:before,
.ion-md-status27:before {
  content: "\EAF9"
}

.ion-ios-status28:before,
.ion-md-status28:before {
  content: "\EAFA"
}

.ion-ios-status29:before,
.ion-md-status29:before {
  content: "\EAFB"
}

.ion-ios-status30:before,
.ion-md-status30:before {
  content: "\EAFC"
}

.ion-ios-status31:before,
.ion-md-status31:before {
  content: "\EAFD"
}

.ion-ios-status32:before,
.ion-md-status32:before {
  content: "\EAFE"
}

.ion-ios-status33:before,
.ion-md-status33:before {
  content: "\EAFF"
}

.ion-ios-status34:before,
.ion-md-status34:before {
  content: "\EB00"
}

.ion-ios-status35:before,
.ion-md-status35:before {
  content: "\EB01"
}

.ion-ios-status36:before,
.ion-md-status36:before {
  content: "\EB02"
}

.ion-ios-status37:before,
.ion-md-status37:before {
  content: "\EB03"
}

.ion-ios-status38:before,
.ion-md-status38:before {
  content: "\EB04"
}

.ion-ios-status39:before,
.ion-md-status39:before {
  content: "\EB05"
}

.ion-ios-status40:before,
.ion-md-status40:before {
  content: "\EB06"
}

.ion-ios-status41:before,
.ion-md-status41:before {
  content: "\EB07"
}

.ion-ios-status42:before,
.ion-md-status42:before {
  content: "\EB08"
}

.ion-ios-status43:before,
.ion-md-status43:before {
  content: "\EB09"
}

.ion-ios-status44:before,
.ion-md-status44:before {
  content: "\EB0A"
}

.ion-ios-status45:before,
.ion-md-status45:before {
  content: "\EB0B"
}

.ion-ios-status46:before,
.ion-md-status46:before {
  content: "\EB0C"
}

.ion-ios-status47:before,
.ion-md-status47:before {
  content: "\EB0D"
}

.ion-ios-status48:before,
.ion-md-status48:before {
  content: "\EB0E"
}

.ion-ios-status49:before,
.ion-md-status49:before {
  content: "\EB0F"
}

.ion-ios-status50:before,
.ion-md-status50:before {
  content: "\EB10"
}

.ion-ios-status51:before,
.ion-md-status51:before {
  content: "\EB11"
}

.ion-ios-status52:before,
.ion-md-status52:before {
  content: "\EB12"
}

.ion-ios-status53:before,
.ion-md-status53:before {
  content: "\EB13"
}

.ion-ios-status54:before,
.ion-md-status54:before {
  content: "\EB14"
}

.ion-ios-status55:before,
.ion-md-status55:before {
  content: "\EB15"
}

.ion-ios-status56:before,
.ion-md-status56:before {
  content: "\EB16"
}

.ion-ios-status57:before,
.ion-md-status57:before {
  content: "\EB17"
}

.ion-ios-status58:before,
.ion-md-status58:before {
  content: "\EB18"
}

.ion-ios-status59:before,
.ion-md-status59:before {
  content: "\EB19"
}

.ion-ios-status60:before,
.ion-md-status60:before {
  content: "\EB1A"
}

.ion-ios-status61:before,
.ion-md-status61:before {
  content: "\EB1B"
}

.ion-ios-status62:before,
.ion-md-status62:before {
  content: "\EB1C"
}

.ion-ios-status63:before,
.ion-md-status63:before {
  content: "\EB1D"
}

.ion-ios-status64:before,
.ion-md-status64:before {
  content: "\EB1E"
}

.ion-ios-status65:before,
.ion-md-status65:before {
  content: "\EB1F"
}

.ion-ios-status66:before,
.ion-md-status66:before {
  content: "\EB20"
}

.ion-ios-status67:before,
.ion-md-status67:before {
  content: "\EB21"
}

.ion-ios-status68:before,
.ion-md-status68:before {
  content: "\EB22"
}

.ion-ios-status69:before,
.ion-md-status69:before {
  content: "\EB23"
}

.ion-ios-status70:before,
.ion-md-status70:before {
  content: "\EB24"
}

.ion-ios-status71:before,
.ion-md-status71:before {
  content: "\EB25"
}

.ion-ios-status72:before,
.ion-md-status72:before {
  content: "\EB26"
}

.ion-ios-status73:before,
.ion-md-status73:before {
  content: "\EB27"
}

.ion-ios-status74:before,
.ion-md-status74:before {
  content: "\EB28"
}

.ion-ios-status75:before,
.ion-md-status75:before {
  content: "\EB29"
}

.ion-ios-status76:before,
.ion-md-status76:before {
  content: "\EB2A"
}

.ion-ios-status77:before,
.ion-md-status77:before {
  content: "\EB2B"
}

.ion-ios-status78:before,
.ion-md-status78:before {
  content: "\EB2C"
}

.ion-ios-status79:before,
.ion-md-status79:before {
  content: "\EB2D"
}

.ion-ios-status80:before,
.ion-md-status80:before {
  content: "\EB2E"
}

.ion-ios-status81:before,
.ion-md-status81:before {
  content: "\EB2F"
}

.ion-ios-status82:before,
.ion-md-status82:before {
  content: "\EB30"
}

.ion-ios-status83:before,
.ion-md-status83:before {
  content: "\EB31"
}

.ion-ios-status84:before,
.ion-md-status84:before {
  content: "\EB32"
}

.ion-ios-status85:before,
.ion-md-status85:before {
  content: "\EB33"
}

.ion-ios-status86:before,
.ion-md-status86:before {
  content: "\EB34"
}

.ion-ios-status87:before,
.ion-md-status87:before {
  content: "\EB35"
}

.ion-ios-status88:before,
.ion-md-status88:before {
  content: "\EB36"
}

.ion-ios-status89:before,
.ion-md-status89:before {
  content: "\EB37"
}

.ion-ios-status90:before,
.ion-md-status90:before {
  content: "\EB38"
}

.ion-ios-status91:before,
.ion-md-status91:before {
  content: "\EB39"
}

.ion-ios-status92:before,
.ion-md-status92:before {
  content: "\EB3A"
}

.ion-ios-status93:before,
.ion-md-status93:before {
  content: "\EB3B"
}

.ion-ios-status94:before,
.ion-md-status94:before {
  content: "\EB3C"
}

.ion-ios-status95:before,
.ion-md-status95:before {
  content: "\EB3D"
}

.ion-ios-status96:before,
.ion-md-status96:before {
  content: "\EB3E"
}

.ion-ios-status97:before,
.ion-md-status97:before {
  content: "\EB3F"
}

.ion-ios-status98:before,
.ion-md-status98:before {
  content: "\EB40"
}

.ion-ios-status99:before,
.ion-md-status99:before {
  content: "\EB41"
}

.ion-ios-trash:before,
.ion-md-trash:before {
  content: "\EB42"
}

.ion-ios-undo:before,
.ion-md-undo:before {
  content: "\EB43"
}

.ion-ios-unlock:before,
.ion-md-unlock:before {
  content: "\EB44"
}

.ion-ios-upload:before,
.ion-md-upload:before {
  content: "\EB45"
}

.ion-ios-version:before,
.ion-md-version:before {
  content: "\EB46"
}

.ion-ios-video-camera:before,
.ion-md-video-camera:before {
  content: "\EB47"
}

.ion-ios-warning-circle:before,
.ion-md-warning-circle:before {
  content: "\EB48"
}

.ion-ios-warning:before,
.ion-md-warning:before {
  content: "\EB49"
}

.ion-ios-wine-glass:before,
.ion-md-wine-glass:before {
  content: "\EB4A"
}

.ion-ios-zoom-cancel:before,
.ion-md-zoom-cancel:before {
  content: "\EB4B"
}

.ion-ios-zoom-in:before,
.ion-md-zoom-in:before {
  content: "\EB4C"
}

.ion-ios-zoom-out:before,
.ion-md-zoom-out:before {
  content: "\EB4D"
}
