auth {
  .bg {
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: color($colors, gray);
    background-image: linear-gradient(color($colors, primary) 45%, transparent 45%);
  }
  #title {
    height: calc(100% - 40rem - 100px - (60% - 40rem));
    min-height: 120px;
    #logo {
      max-width: 90px;
      height: 100%;
      width: 100%;
    }
    #itwo {
      max-width: 250px;
      width: 100%;
    }
    #app-name {
      position: relative;
      color: color($colors, white);
      font-size: 2.5rem;
      margin-top: .5rem;
      font-weight: 500;
    }
  }
  .bx {
    position: relative;
    height: 40rem;
    margin-bottom : 44px; // > safe-area-bottom
    > .col, .ion-page, .nav-decor {
      overflow: hidden;
      border-radius: 10px;
    }
    > .col {
      height: 100%;
      box-shadow: 0 0 5px color($colors, darkgray);
      .nav {
        ion-scroll {
          height: 80%;
        }
      }
    }
    ion-footer {
      overflow: hidden;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .help-icon {
    font-size: 25px;
  }
}

company {
  ion-footer {
    box-shadow: 0px 0px 10px color($colors, darkgray);
  }
}
profiles {
  ion-navbar {
    box-shadow: 0px 0px 10px color($colors, darkgray);
  }
}